---
http_interactions:
- request:
    method: get
    uri: https://api.nasa.gov/neo/rest/v1/neo/2153306?api_key=OMmFoPYWpMrG4LOLC4a8rTpiP7Dk36Ul87c2vSnj
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '994'
      X-Application-Context:
      - application:prod:4178
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "links" : {
            "self" : "https://api.nasa.gov/neo/rest/v1/neo/2153306?api_key=OMmFoPYWpMrG4LOLC4a8rTpiP7Dk36Ul87c2vSnj"
          },
          "neo_reference_id" : "2153306",
          "name" : "153306 (2001 JL1)",
          "nasa_jpl_url" : "http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2153306",
          "absolute_magnitude_h" : 16.7,
          "estimated_diameter" : {
            "kilometers" : {
              "estimated_diameter_min" : 1.214940408,
              "estimated_diameter_max" : 2.7166893409
            },
            "meters" : {
              "estimated_diameter_min" : 1214.9404079963,
              "estimated_diameter_max" : 2716.6893408911
            },
            "miles" : {
              "estimated_diameter_min" : 0.7549287363,
              "estimated_diameter_max" : 1.6880719724
            },
            "feet" : {
              "estimated_diameter_min" : 3986.0250881707,
              "estimated_diameter_max" : 8913.0230571693
            }
          },
          "is_potentially_hazardous_asteroid" : false,
          "close_approach_data" : [ {
            "close_approach_date" : "1932-03-30",
            "epoch_date_close_approach" : -1191513600000,
            "relative_velocity" : {
              "kilometers_per_second" : "13.355195182",
              "kilometers_per_hour" : "48078.7026552619",
              "miles_per_hour" : "29874.2361026543"
            },
            "miss_distance" : {
              "astronomical" : "0.4923804009",
              "lunar" : "191.5359802246",
              "kilometers" : "73659064",
              "miles" : "45769620"
            },
            "orbiting_body" : "Earth"
          }, {
            "close_approach_date" : "2058-03-29",
            "epoch_date_close_approach" : 2784610800000,
            "relative_velocity" : {
              "kilometers_per_second" : "13.3718414291",
              "kilometers_per_hour" : "48138.6291446722",
              "miles_per_hour" : "29911.4720926992"
            },
            "miss_distance" : {
              "astronomical" : "0.4928210432",
              "lunar" : "191.7073822021",
              "kilometers" : "73724976",
              "miles" : "45810576"
            },
            "orbiting_body" : "Earth"
          }, {
            "close_approach_date" : "2188-03-28",
            "epoch_date_close_approach" : 6886969200000,
            "relative_velocity" : {
              "kilometers_per_second" : "13.9636728538",
              "kilometers_per_hour" : "50269.2222737099",
              "miles_per_hour" : "31235.3398066838"
            },
            "miss_distance" : {
              "astronomical" : "0.4919367051",
              "lunar" : "191.3633880615",
              "kilometers" : "73592688",
              "miles" : "45728376"
            },
            "orbiting_body" : "Earth"
          } ],
          "orbital_data" : {
            "orbit_id" : "107",
            "orbit_determination_date" : "2017-04-06 09:27:06",
            "orbit_uncertainty" : "0",
            "minimum_orbit_intersection" : ".506986",
            "jupiter_tisserand_invariant" : "3.102",
            "epoch_osculation" : "2458200.5",
            "eccentricity" : ".5228991921804671",
            "semi_major_axis" : "2.553170478600565",
            "inclination" : "26.98169418369934",
            "ascending_node_longitude" : "226.6584300370092",
            "orbital_period" : "1490.109378710325",
            "perihelion_distance" : "1.218119697841313",
            "perihelion_argument" : "272.4935212822717",
            "aphelion_distance" : "3.888221259359817",
            "perihelion_time" : "2457881.502598297509",
            "mean_anomaly" : "77.06754031189897",
            "mean_motion" : ".2415930032677041",
            "equinox" : "J2000"
          }
        }
  recorded_at: Sat, 14 Apr 2018 23:15:52 GMT
recorded_with: VCR 4.0.0
