<h1 class="page-header">MOST DANGEROUS DAY</h1>
<p><%= @start_date %> - <%= @end_date %></p>
<h4 class="sub-header">January 1, 2018 has 3 potentially dangerous near earth objects</h4>
<p class="bold-text"><strong>Name: (2014 KT76)</strong></p>
<p class="bold-text"><strong>NEO Reference ID: </strong>3672906</p>
<p class="bold-text"><strong>Name: (2001 LD)</strong></p>
<p class="bold-text"><strong>NEO Reference ID:  </strong>3078262</p>
<p class="bold-text"><strong>Name: (2017 YR1)</strong></p>
<p class="bold-text"><strong>NEO Reference ID:  </strong>3794979</p>
